<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.roamer"
    android:configChanges="keyboardHidden|orientation|screenSize"
    android:screenOrientation="portrait"
    android:versionCode="1"
    android:versionName="1.0" >

    <permission
        android:name="com.example.roamer.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="com.example.roamer.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_no_text"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.roamer.IntroActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />

                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.roamer.HomeScreenActivity"
            android:label="@string/home_title_string"
            android:parentActivityName="com.example.roamer.HomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.checkinbox.InboxActivity"
            android:label="@string/title_inbox"
            android:parentActivityName="com.example.roamer.HomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.SendMessage"
            android:label="@string/title_send_message"
            android:parentActivityName="com.example.roamer.HomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.PersonListActivity"
            android:label="@string/title_person_list"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.PersonDetailActivity"
            android:label="@string/title_person_detail"
            android:parentActivityName=".PersonListActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PersonListActivity" />
        </activity>

        <service android:name="com.android.email.ACCOUNT_INTENT" >
        </service>

        <activity
            android:name="com.example.roamer.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar"
            android:windowSoftInputMode="adjustPan" >
        </activity>
        <activity
            android:name="com.example.roamer.ExplainationActivity"
            android:label="@string/title_activity_explaination"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.CreateAccountActivity2"
            android:label="@string/title_activity_create_account_activity2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.CreateAccountActivityPic"
            android:label="@string/title_activity_create_account_activity_pic"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.profilelist.ProfileListActivity"
            android:label="@string/title_profile_list_activity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.roamer.HomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.SettingsActivity2"
            android:label="@string/title_activity_settings_activity2"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.profilelist.MyRoamersListActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="com.example.roamer.HomeScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.events.AllEventsActivity"
            android:label="@string/title_activity_all_events"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.MyEventsActivity"
            android:label="@string/title_activity_my_events"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.TestScrollTabActivity"
            android:label="@string/title_activity_test_scroll_tab" >
        </activity>
        <activity
            android:name="com.example.roamer.events.EventsActivity"
            android:label="@string/title_activity_events"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.events.AllEvents"
            android:label="@string/title_activity_events"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.events.MyEvents"
            android:label="@string/title_activity_events"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.events.TotalEventActivity"
            android:label="@string/title_activity_total_event"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.checkinbox.DiscussActivity"
            android:label="@string/title_activity_total_event"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.RoamerProfileActivity"
            android:label="@string/title_activity_roamer_profile"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.events.CreateEventActivity"
            android:label="@string/title_activity_create_event"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="com.example.roamer.checkinbox.ChatsAndRequestsActivity"
            android:label="@string/title_activity_chats_and_requests"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>

        <service android:name="com.example.roamer.GCMIntentService" />

        <receiver
            android:name="com.google.android.gcm.GCMBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.appenginephoneside" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.appenginephoneside" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.example.roamer.profilelist.RoamerProfileShortActivity"
            android:label="@string/title_activity_roamer_profile_short" >
        </activity>
    </application>

</manifest>
